<div class="container mt-5">
  <div *ngIf="!registerMode" class="text-center">
    <h1>Find your match</h1>
    <p class="lead">Come on to view your matches... just sign up!</p>
    <button (click)="registerToggle()" class="btn btn-primary btn-large mr-2">
      Register
    </button>
    <button class="btn btn-info btn-large">Learn more</button>
  </div>
  <div *ngIf="registerMode" class="text-center">
    <app-register
      (cancelRegisterMode)="cancelRegisterMode($event)"
    ></app-register>
  </div>
</div>
