<form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
  <div class="container w-25">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr />
    <div class="form-group">
      <label class="mt-1">I'm a: &nbsp;</label>
      <label class="radio-inline mr-3">
        <input type="radio" value="male" formControlName="gender" /> Male
      </label>
      <label class="radio-inline">
        <input type="radio" value="female" formControlName="gender" /> Female
      </label>
    </div>

    <app-input-text
      [formControl]="registerForm.controls['username']"
      [label]="'Username'"
    ></app-input-text>

    <app-input-text
      [formControl]="registerForm.controls['knownAs']"
      [label]="'Known as'"
    ></app-input-text>

    <app-input-date
      [formControl]="registerForm.controls['dateOfBirth']"
      [label]="'Date of birth'"
      [maxDate]="maxDate"
    ></app-input-date>

    <app-input-text
      [formControl]="registerForm.controls['city']"
      [label]="'City'"
    ></app-input-text>

    <app-input-text
      [formControl]="registerForm.controls['country']"
      [label]="'Country'"
    ></app-input-text>

    <app-input-text
      [formControl]="registerForm.controls['password']"
      [label]="'Password'"
      [type]="'password'"
    ></app-input-text>

    <app-input-text
      [formControl]="registerForm.controls['confirmPassword']"
      [label]="'Confirm password'"
      [type]="'password'"
    ></app-input-text>

    <div class="row mt-1" *ngIf="validationErrors.length > 0">
      <ul class="text-danger">
        <li *ngFor="let err of validationErrors">
          {{ err }}
        </li>
      </ul>
    </div>

    <div class="form-group text-center">
      <button class="btn btn-danger mr-2" type="button" (click)="cancel()">
        Cancel
      </button>
      <button
        class="btn btn-success mr-2"
        type="submit"
        [disabled]="!registerForm.valid"
      >
        Register
      </button>
    </div>
  </div>
</form>

<p>Form value: {{ registerForm.value | json }}</p>
<p>Form status: {{ registerForm.status | json }}</p>
